In [1]:
import os
import pickle
import pymongo
import pandas as pd
import numpy as np
from datetime import datetime
import statistics
from math import sqrt
from numpy import log as ln
from tqdm import tqdm
from pymongo import MongoClient
import statsmodels.api as sm
from sklearn.utils import all_estimators
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from datetime import datetime, timedelta

In [ ]:
def reassign_dates(df):
    df = df.copy()
    unique_dates_df = df[['Year', 'Month', 'Day']].drop_duplicates()
    unique_dates = unique_dates_df.values.tolist()
    df['Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']])
    df['Date'] = df['Date'] - pd.DateOffset(days=len(unique_dates)+1)
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['Week_Day'] = df['Date'].dt.strftime('%A')
    df = df.drop('Date', axis=1)
    new_df = df.copy()
    return new_df

def generate_data(df, span):
    total_data = []
    df_copy = df.copy()
    for instance in range(span):
        df_copy = reassign_dates(df_copy)
        total_data.append(df_copy)
    total_data.reverse()
    combined_df = pd.concat(total_data)
    combined_df = combined_df.reset_index(drop=True)
    return combined_df

In [ ]:
def find_popularity(mapping, year, month):
    popularity_value = []
    documents = my_collection.find({"mapping": mapping})
    date_str = str(year) + " " + str(month)
    date_obj = datetime.strptime(date_str, "%Y %m")
    output_str = date_obj.strftime("%b %Y")
    doc = None
    for doc in documents:
        try:
            for i in range(len(doc["data"]["trends"]["default"]["timelineData"])):
                if(doc["data"]["trends"]["default"]["timelineData"][i]["formattedTime"] == output_str):
                    popularity_value.append(doc["data"]["trends"]["default"]["timelineData"][i]["value"][0])
        except:
            break
    if (len(popularity_value) > 0):
        return int(round(sum(popularity_value) / len(popularity_value)))
    return 0

In [ ]:
def find_year_popularities(mapping, year):
    l = []
    for i in range(12):
        try:
            l.append(find_popularity(mapping, year, i + 1))
        except:
            return l
    return l

In [ ]:
df = pd.read_csv('C:\\Users\\Hassa\\OneDrive\\Desktop\\PRODUCT_SCOUT\\Back-End\\processed_data.csv')

In [ ]:
generated_data = generate_data(df, 10)

In [ ]:
generated_data

In [ ]:
l = []
client = pymongo.MongoClient("mongodb://hassan:1234@ac-n2z0fl0-shard-00-00.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-01.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-02.gwmrp9a.mongodb.net:27017/test?replicaSet=atlas-11gdpx-shard-0&ssl=true&authSource=admin")
my_db = client["popularities"]
my_collection = my_db["popularity_data"]
for document in my_collection.find():
    l.append(document)

In [ ]:
def find_popularity(data, mapping, year, month):
    popularity_value = []
    documents = my_collection.find({"mapping": mapping})
    date_str = f"{year} {month}"
    date_obj = datetime.strptime(date_str, "%Y %m")
    output_str = date_obj.strftime("%b %Y")
    
    for doc in documents:
        try:
            for trend_data in doc["data"]["trends"]["default"]["timelineData"]:
                if trend_data["formattedTime"] == output_str:
                    popularity_value.append(trend_data["value"][0])
        except:
            break

    if popularity_value:
        return int(round(sum(popularity_value) / len(popularity_value)))
    return 0

def find_year_popularities(data, mapping, year):
    cache = {}
    for month in range(1, 13):
        cache[month] = find_popularity(data, mapping, year, month)
    return cache

def apply_popularity_and_label(row, year_popularities):
    year = row['Year']
    month = row['Month']
    popularity = year_popularities[month]
    mean_popularity = sum(year_popularities.values()) / len(year_popularities)
    factor = popularity / mean_popularity
    
    if popularity > mean_popularity:
        row['Label'] *= 2 * factor
    else:
        row['Label'] *= factor
    
    row['Popularity'] = popularity
    return row

generated_data['mapping'] = generated_data['Category'] + ' > ' + generated_data['Sub-Category'] + ' > ' + generated_data['Sub-Sub-Category']
unique_mappings = generated_data['mapping'].unique()

for mapping in unique_mappings:
    mapping_data = generated_data[generated_data['mapping'] == mapping]
    year = mapping_data['Year'].iloc[0]
    year_popularities = find_year_popularities(mapping_data, mapping, year)
    if (sum(year_popularities.values()) != 0):
        generated_data.loc[generated_data['mapping'] == mapping] = mapping_data.apply(apply_popularity_and_label, axis=1, year_popularities=year_popularities)

generated_data.drop(columns=['mapping'], inplace=True)

In [9]:
# generated_data = pd.read_csv("generated_data.csv")

In [10]:
dataset =  pd.read_csv("dataset.csv")

In [11]:
dataset["Number of Reviews"] = dataset["Number of Reviews"].str.replace("Ratings","")
dataset["Number of Reviews"] = dataset["Number of Reviews"].str.replace("No","0")
dataset['Number of Reviews'] = dataset['Number of Reviews'].astype('int')
dataset["Score"] = dataset["Score"].str.replace("/5","")
dataset['Score'] = dataset['Score'].astype('float')

In [12]:
dataset['Categoric Mapping'] = dataset['Category'] + ' > ' + dataset['Sub-Category'] + ' > ' + dataset['SubSub-Category']
dataset['year'] = pd.DatetimeIndex(dataset['Date']).year
dataset['month'] = pd.DatetimeIndex(dataset['Date']).month

,_id,Name,Price,Number of Reviews,Category,Score,Sub-Category,SubSub-Category,Reviews,Link,Popularity,Date,Categoric Mapping,year,month
0,63c2a89a0e579974320b7703,Women's Body Warm Thermal Suit For Winter,Rs. 550,4,Fashion,5.0,Men,Clothing,[[]],https://www.daraz.pk/products/womens-body-warm...,48,2023-01-14,Fashion > Men > Clothing,2023,1
1,63c2a89b0e579974320b7704,Baby Waterproof Diaper Travel Changing Urine T...,Rs. 160,34,Mother & Baby,4.4,Diapering & Potty,"Changing Tables, Pads & Kits",[[]],https://www.daraz.pk/products/-i350438488-s178...,55,2023-01-14,Mother & Baby > Diapering & Potty > Changing T...,2023,1
2,63c2a89b0e579974320b7705,High Quality Thermal Fleece Winter Inner Suit...,"Rs. 1,090",70,Fashion,4.4,Men,Clothing,[[]],https://www.daraz.pk/products/-i255081169-s188...,48,2023-01-14,Fashion > Men > Clothing,2023,1
3,63c2a89b0e579974320b7706,Pack of 2 Thermal Winter FLEECE NECK Warmer,Rs. 95,154,Fashion,4.4,Men,Clothing,[[]],https://www.daraz.pk/products/2-i189602500-s13...,48,2023-01-14,Fashion > Men > Clothing,2023,1
4,63c2a89b0e579974320b7707,Winter Complete Thermal Suit for Men (Inner We...,Rs. 620,5,Fashion,5.0,Men,Clothing,[[]],https://www.daraz.pk/products/-i376169651-s186...,48,2023-01-14,Fashion > Men > Clothing,2023,1

In [13]:
generated_data

,Category,Sub-Category,Sub-Sub-Category,Year,Month,Day,Week_Day,Rate of Change,Standard Dev,Popularity,Label
0,Bags and Travel,Men Bags,Backpacks,2020,8,27,Thursday,0.000000,174.916509,22,1.527749
1,Bags and Travel,Men Bags,Business Bags,2020,8,27,Thursday,0.000000,174.916509,14,0.448578
2,Bags and Travel,Men Bags,Crossbody Bags,2020,8,27,Thursday,0.000000,174.916509,21,2.090864
3,Bags and Travel,Men Bags,Messenger Bags,2020,8,27,Thursday,0.000000,174.916509,0,0.026298
4,Bags and Travel,Men Bags,Wallets & Accessories,2020,8,27,Thursday,0.000000,174.916509,19,0.516708
...,...,...,...,...,...,...,...,...,...,...,...
524875,Watches Sunglasses Jewellery,Jewellery,Men,2023,1,14,Saturday,0.014599,277.523750,59,0.630781
524876,Watches Sunglasses Jewellery,Jewellery,Women,2023,1,14,Saturday,0.000000,277.523750,33,0.336559
524877,Watches Sunglasses Jewellery,Watches,Kids,2023,1,14,Saturday,-0.122302,277.523750,26,0.438903
524878,Watches Sunglasses Jewellery,Watches,Men,2023,1,14,Saturday,-0.018957,277.523750,16,0.319914
524879,Watches Sunglasses Jewellery,Watches,Women,2023,1,14,Saturday,-0.044643,277.523750,25,0.293613

In [17]:
def calculate_rate_of_change(row, dataset):
    df_std_dev_mean = 176.7859344611802
    df_score_mean = 4
    score_mean = 4
    label = row['Label']
    popularity = row['Popularity']
    rate_of_change = ((label * df_std_dev_mean) / (score_mean * (1 + popularity))) - 1

    return rate_of_change

dataset['year'] = pd.DatetimeIndex(dataset['Date']).year
dataset['month'] = pd.DatetimeIndex(dataset['Date']).month

cat_maps = generated_data['Category'] + ' > ' + generated_data['Sub-Category'] + ' > ' + generated_data['Sub-Sub-Category']
unique_cat_maps = cat_maps.unique()
filtered_dataset = dataset[dataset['Categoric Mapping'].isin(unique_cat_maps)]

tqdm.pandas()


generated_data['Rate of Change'] = generated_data.progress_apply(calculate_rate_of_change, axis=1, dataset=filtered_dataset)

100%|███████████████████████████████████████████████████████████████████████| 524880/524880 [00:06<00:00, 78472.92it/s]

In [18]:
generated_data

,Category,Sub-Category,Sub-Sub-Category,Year,Month,Day,Week_Day,Rate of Change,Standard Dev,Popularity,Label
0,Bags and Travel,Men Bags,Backpacks,2020,8,27,Thursday,1.935701,174.916509,22,1.527749
1,Bags and Travel,Men Bags,Business Bags,2020,8,27,Thursday,0.321704,174.916509,14,0.448578
2,Bags and Travel,Men Bags,Crossbody Bags,2020,8,27,Thursday,3.200402,174.916509,21,2.090864
3,Bags and Travel,Men Bags,Messenger Bags,2020,8,27,Thursday,0.162291,174.916509,0,0.026298
4,Bags and Travel,Men Bags,Wallets & Accessories,2020,8,27,Thursday,0.141834,174.916509,19,0.516708
...,...,...,...,...,...,...,...,...,...,...,...
524875,Watches Sunglasses Jewellery,Jewellery,Men,2023,1,14,Saturday,-0.535362,277.523750,59,0.630781
524876,Watches Sunglasses Jewellery,Jewellery,Women,2023,1,14,Saturday,-0.562508,277.523750,33,0.336559
524877,Watches Sunglasses Jewellery,Watches,Kids,2023,1,14,Saturday,-0.281557,277.523750,26,0.438903
524878,Watches Sunglasses Jewellery,Watches,Men,2023,1,14,Saturday,-0.168289,277.523750,16,0.319914
524879,Watches Sunglasses Jewellery,Watches,Women,2023,1,14,Saturday,-0.500897,277.523750,25,0.293613

In [20]:
generated_data.to_csv("final_generated_dataset.csv", index = False)