In [2]:
import os
import pickle
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from datetime import datetime
import statistics
from math import sqrt
from numpy import log as ln
from tqdm import tqdm
from pymongo import MongoClient
import statsmodels.api as sm
from sklearn.utils import all_estimators
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from datetime import datetime, timedelta

In [3]:
# string = "mongodb://hassan:1234@ac-ztxkrdo-shard-00-00.gcrv0vd.mongodb.net:27017,ac-ztxkrdo-shard-00-01.gcrv0vd.mongodb.net:27017,ac-ztxkrdo-shard-00-02.gcrv0vd.mongodb.net:27017/test?replicaSet=atlas-11tiap-shard-0&ssl=true&authSource=admin"
# client = MongoClient(string)
# db = client.products_db
# products = db.products
# database1 = pd.DataFrame(list(products.find()))

# string = "mongodb://hassan:1234@ac-vrawjnn-shard-00-00.sgoi7cy.mongodb.net:27017,ac-vrawjnn-shard-00-01.sgoi7cy.mongodb.net:27017,ac-vrawjnn-shard-00-02.sgoi7cy.mongodb.net:27017/test?replicaSet=atlas-11utu9-shard-0&ssl=true&authSource=admin"
# client = MongoClient(string)
# db = client.products_db
# products = db.products
# database2 = pd.DataFrame(list(products.find()))

# df = pd.concat([database1, database2])
# df.reset_index(drop=True, inplace=True)
# df.to_csv('dataset.csv', index=False)

In [4]:
df = pd.read_csv('dataset.csv')

In [5]:
len(df)

2089527

In [6]:
df["Number of Reviews"] = df["Number of Reviews"].str.replace("Ratings","")
df["Number of Reviews"] = df["Number of Reviews"].str.replace("No","0")
df['Number of Reviews'] = df['Number of Reviews'].astype('int')
df["Score"] = df["Score"].str.replace("/5","")
df['Score'] = df['Score'].astype('float')

In [7]:
data = pd.DataFrame()
data["Categoric Mapping"] = "Categoric Mapping"
data["Categoric Mapping"] = df["Date"] + "_" + df["Category"] + "/" + df[ "Sub-Category"] + "/" + df["SubSub-Category"]
data["Mean Reviews"] = df["Number of Reviews"]
data["Mean Score"] = df["Score"]
data["Popularity"] = df["Popularity"]

In [8]:
value_counts = dict(data["Categoric Mapping"].value_counts())

In [9]:
data = data.groupby("Categoric Mapping").agg({"Mean Reviews":"sum", 
                                              "Mean Score":"sum", 
                                              "Popularity":"max"})
data.reset_index(inplace = True)

In [10]:
keys = list(value_counts.keys())
for i in tqdm(range(len(data))):
    temp = data.loc[i, "Categoric Mapping"]
    try:
        data.loc[i, "Mean Reviews"] = data.loc[i, "Mean Reviews"] / value_counts[temp]
        data.loc[i, "Mean Score"] = data.loc[i, "Mean Score"] / value_counts[temp]
    except:
        pass

100%|██████████████████████████████████████████████████████████████████████████| 52955/52955 [00:25<00:00, 2069.67it/s]

In [11]:
for i in tqdm(range(len(data))):
    if " 00:00:00" in data.loc[i, "Categoric Mapping"]:
        data.loc[i, "Categoric Mapping"] = data.loc[i, "Categoric Mapping"].replace(" 00:00:00", "")

100%|██████████████████████████████████████████████████████████████████████████| 52955/52955 [00:05<00:00, 9629.93it/s]

In [12]:
dates = []
for i in range(len(data)):
    date = data["Categoric Mapping"][i].split("_")[0]
    dates.append(datetime.strptime(date, "%Y-%m-%d"))
data["Date"] = dates
dates = np.unique(dates)

In [13]:
data['Rate of Change'] = None
data['Mean Reviews'] = data['Mean Reviews'] + 1
df = data

# Label = {[(1 + p) × (1 + ΔR)] x μ(S)} / σ(N)

In [14]:
def label_data_set(df):
    df['Rate of Change'] = None
    df['Mean Reviews'] = df['Mean Reviews'] + 1

    for i in range(len(df)):
        df.loc[i, "Categoric Mapping"] = df.loc[i, "Categoric Mapping"].split("_")[-1]

    for i in tqdm(range(len(df))):
        cat_name = df.loc[i, 'Categoric Mapping']
        lis = df.loc[df['Categoric Mapping'] == cat_name].index.tolist()
        index = lis.index(i)
        if (index == 0):
            df.loc[i, 'Rate of Change'] = 0
        else:
            index_last = index - 1
            reviews = [int(df.loc[lis[index - 1], 'Mean Reviews']), int(df.loc[lis[index], 'Mean Reviews'])]
            reviews_series = pd.Series(reviews)
            df.loc[i, 'Rate of Change'] = list(reviews_series.pct_change())[1]

    df['Half Label'] = None
    for i in tqdm(range(len(df))):
        value = 1 + float(df.loc[i, 'Popularity'])
        value2 = 1 + float(df.loc[i, 'Rate of Change'])
        value = value * value2
        df.loc[i, 'Half Label'] = value
        
    df['Standard Dev'] = None
    meann = {}
    for i in tqdm(list(df['Date'].unique())):
        m = df.loc[df['Date'] == i, 'Mean Reviews'].mean()
        meann[i] = m
    for i in tqdm(list(df['Date'].unique())):
        val = statistics.stdev(list(df.loc[df['Date'] == i, 'Mean Reviews']))
        df.loc[df['Date'] == i, 'Standard Dev'] = val
        
    df['Label'] = None
    for i in tqdm(range(len(df))):
        val1 = df.loc[i, 'Half Label'] * df.loc[i, 'Mean Score']
        val1 = val1 / df.loc[i, 'Standard Dev']
        df.loc[i, 'Label'] = val1
  
    df.drop(['Mean Reviews', 'Half Label'], axis = 1, inplace = True)
    return df

In [15]:
data = label_data_set(df)

100%|███████████████████████████████████████████████████████████████████████████| 52955/52955 [05:06<00:00, 172.77it/s]
100%|██████████████████████████████████████████████████████████████████████████| 52955/52955 [00:10<00:00, 5031.99it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 86/86 [00:00<00:00, 924.70it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 86/86 [00:00<00:00, 233.06it/s]
100%|██████████████████████████████████████████████████████████████████████████| 52955/52955 [00:13<00:00, 3914.66it/s]

In [16]:
df = pd.DataFrame()
df["Category"] = data["Categoric Mapping"].str.split("/", expand=True)[0]
df["Sub-Category"] = data["Categoric Mapping"].str.split("/", expand=True)[1]
df["Sub-Sub-Category"] = data["Categoric Mapping"].str.split("/", expand=True)[2]
df["Year"] = data["Date"].dt.year
df["Month"] = data["Date"].dt.month
df["Day"] = data["Date"].dt.day
df["Week_Day"] = data["Date"].dt.strftime('%A')
df['Rate of Change'] = data['Rate of Change']
df['Standard Dev'] = data['Standard Dev']
df['Popularity'] = data['Popularity']
df["Label"] = data["Label"]
df['Popularity'] = data['Popularity']
df.sort_index(axis = 0)

,Category,Sub-Category,Sub-Sub-Category,Year,Month,Day,Week_Day,Rate of Change,Standard Dev,Popularity,Label
0,Bags and Travel,Men Bags,Backpacks,2023,1,14,Saturday,0,174.916509,2,0.080052
1,Bags and Travel,Men Bags,Business Bags,2023,1,14,Saturday,0,174.916509,0,0.023497
2,Bags and Travel,Men Bags,Crossbody Bags,2023,1,14,Saturday,0,174.916509,2,0.079066
3,Bags and Travel,Men Bags,Messenger Bags,2023,1,14,Saturday,0,174.916509,2,0.078895
4,Bags and Travel,Men Bags,Wallets & Accessories,2023,1,14,Saturday,0,174.916509,5,0.159933
...,...,...,...,...,...,...,...,...,...,...,...
52950,Watches Sunglasses Jewellery,Jewellery,Men,2023,4,11,Tuesday,0.014599,277.52375,2,0.047709
52951,Watches Sunglasses Jewellery,Jewellery,Women,2023,4,11,Tuesday,0.0,277.52375,0,0.01347
52952,Watches Sunglasses Jewellery,Watches,Kids,2023,4,11,Tuesday,-0.122302,277.52375,15,0.219451
52953,Watches Sunglasses Jewellery,Watches,Men,2023,4,11,Tuesday,-0.018957,277.52375,1,0.028881
52954,Watches Sunglasses Jewellery,Watches,Women,2023,4,11,Tuesday,-0.044643,277.52375,0,0.013104

In [17]:
def reassign_dates(df):
    df = df.copy()
    unique_dates_df = df[['Year', 'Month', 'Day']].drop_duplicates()
    unique_dates = unique_dates_df.values.tolist()
    df['Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']])
    df['Date'] = df['Date'] - pd.DateOffset(days=len(unique_dates)+1)
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['Week_Day'] = df['Date'].dt.strftime('%A')
    df = df.drop('Date', axis=1)
    new_df = df.copy()
    return new_df

def generate_data(df, span):
    total_data = []
    df_copy = df.copy()
    for instance in range(span):
        df_copy = reassign_dates(df_copy)
        total_data.append(df_copy)
    total_data.reverse()
    combined_df = pd.concat(total_data)
    combined_df = combined_df.reset_index(drop=True)
    return combined_df

In [18]:
def remove_outliers_using_zscore(df, column_name, z_threshold=1.96):
    mean = df[column_name].mean()
    std = df[column_name].std()

    z_scores = (df[column_name] - mean) / std
    filtered_df = df[np.abs(z_scores) <= z_threshold]
    return filtered_df

In [19]:
# PREPROCESSING
df['Category_Sub-Category_Sub-Sub-Category'] = df['Category'] + '_' + df['Sub-Category'] + '_' + df['Sub-Sub-Category']
threshold = 10 * (df['Category_Sub-Category_Sub-Sub-Category'].value_counts().iloc[0] / 100)
df = df.groupby('Category_Sub-Category_Sub-Sub-Category').filter(lambda x: len(x) >= threshold)
df = df.drop('Category_Sub-Category_Sub-Sub-Category', axis=1)
df = remove_outliers_using_zscore(df, "Label", z_threshold = 1.96)
df.reset_index(drop=True, inplace=True)
#SETTING ALL POPULARITY VALUES TO 0 (TEMPORARILY)
df['Popularity'] = 0

In [20]:
df

,Category,Sub-Category,Sub-Sub-Category,Year,Month,Day,Week_Day,Rate of Change,Standard Dev,Popularity,Label
0,Bags and Travel,Men Bags,Backpacks,2023,1,14,Saturday,0,174.916509,0,0.080052
1,Bags and Travel,Men Bags,Business Bags,2023,1,14,Saturday,0,174.916509,0,0.023497
2,Bags and Travel,Men Bags,Crossbody Bags,2023,1,14,Saturday,0,174.916509,0,0.079066
3,Bags and Travel,Men Bags,Messenger Bags,2023,1,14,Saturday,0,174.916509,0,0.078895
4,Bags and Travel,Men Bags,Wallets & Accessories,2023,1,14,Saturday,0,174.916509,0,0.159933
...,...,...,...,...,...,...,...,...,...,...,...
52548,Watches Sunglasses Jewellery,Jewellery,Men,2023,4,11,Tuesday,0.014599,277.52375,0,0.047709
52549,Watches Sunglasses Jewellery,Jewellery,Women,2023,4,11,Tuesday,0.0,277.52375,0,0.01347
52550,Watches Sunglasses Jewellery,Watches,Kids,2023,4,11,Tuesday,-0.122302,277.52375,0,0.219451
52551,Watches Sunglasses Jewellery,Watches,Men,2023,4,11,Tuesday,-0.018957,277.52375,0,0.028881
52552,Watches Sunglasses Jewellery,Watches,Women,2023,4,11,Tuesday,-0.044643,277.52375,0,0.013104

In [21]:
csv_output_directory = "C:\\Users\\Hassa\\OneDrive\\Desktop\\PRODUCT_SCOUT\\Back-End"
df.to_csv(os.path.join(csv_output_directory, 'processed_data.csv'), index=False)

In [22]:
df = pd.read_csv("C:\\Users\\Hassa\\OneDrive\\Desktop\\PRODUCT_SCOUT\\Back-End\\processed_data.csv")

In [23]:
filtered_df = df[(df["Category"] == "Fashion") & 
                 (df["Sub-Category"] == "Boys") & 
                 (df["Sub-Sub-Category"] == "Clothing")]

In [24]:
filtered_df.tail(20)

,Category,Sub-Category,Sub-Sub-Category,Year,Month,Day,Week_Day,Rate of Change,Standard Dev,Popularity,Label
39432,Fashion,Boys,Clothing,2023,3,22,Wednesday,0.000000,257.397988,0,0.031116
40089,Fashion,Boys,Clothing,2023,3,23,Thursday,0.000000,211.684113,0,0.037363
40748,Fashion,Boys,Clothing,2023,3,24,Friday,-0.031250,182.380215,0,0.042215
41399,Fashion,Boys,Clothing,2023,3,25,Saturday,0.032258,162.586191,0,0.051100
42053,Fashion,Boys,Clothing,2023,3,26,Sunday,0.000000,121.217324,0,0.063774
42664,Fashion,Boys,Clothing,2023,3,27,Monday,0.093750,164.806468,0,0.055919
43294,Fashion,Boys,Clothing,2023,3,28,Tuesday,-0.142857,251.487691,0,0.020470
43974,Fashion,Boys,Clothing,2023,3,29,Wednesday,0.500000,246.691663,0,0.052282
44665,Fashion,Boys,Clothing,2023,3,30,Thursday,-0.288889,233.130680,0,0.019298
45354,Fashion,Boys,Clothing,2023,3,31,Friday,0.062500,138.475737,0,0.062197
45933,Fashion,Boys,Clothing,2023,4,1,Saturday,-0.264706,235.161059,0,0.013523
46543,Fashion,Boys,Clothing,2023,4,2,Sunday,0.720000,264.013181,0,0.051257
47143,Fashion,Boys,Clothing,2023,4,4,Tuesday,0.046512,256.464596,0,0.033872
47837,Fashion,Boys,Clothing,2023,4,5,Wednesday,-0.022222,209.870174,0,0.000000
48526,Fashion,Boys,Clothing,2023,4,6,Thursday,0.068182,254.782251,0,0.035105
49223,Fashion,Boys,Clothing,2023,4,7,Friday,-0.127660,227.224962,0,0.026759
49914,Fashion,Boys,Clothing,2023,4,8,Saturday,0.146341,266.453743,0,0.035401
50592,Fashion,Boys,Clothing,2023,4,9,Sunday,-0.021277,265.214200,0,0.031706
51270,Fashion,Boys,Clothing,2023,4,10,Monday,0.000000,271.231883,0,0.031170
51951,Fashion,Boys,Clothing,2023,4,11,Tuesday,0.000000,277.523750,0,0.030123

In [25]:
#ADDING MORE DATA
generated_data = generate_data(df, 5)
df = pd.concat([generated_data, df])
df = df.reset_index(drop=True)

In [26]:
weekday_encoding = {
    "Monday" : 1,
    "Tuesday" : 2,
    "Wednesday" : 3,
    "Thursday" : 4,
    "Friday" : 5,
    "Saturday" : 6,
    "Sunday" : 7
}

In [27]:
df['Rate of Change'] = df['Rate of Change'].astype(float)
df['Standard Dev'] = df['Standard Dev'].astype(float)
df['Label'] = df['Label'].astype(float)

In [28]:
le_category = LabelEncoder()
le_sub_category = LabelEncoder()
le_sub_sub_category = LabelEncoder()

df['Category'] = le_category.fit_transform(df['Category'])
df['Sub-Category'] = le_sub_category.fit_transform(df['Sub-Category'])
df['Sub-Sub-Category'] = le_sub_sub_category.fit_transform(df['Sub-Sub-Category'])
df['Week_Day'] = df['Week_Day'].map(weekday_encoding)
    
#SETTING ALL POPULARITY VALUES TO 0 (TEMPORARILY)
# df['Popularity'] = 0

X = df.copy()
y = X.pop('Label')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [29]:
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

def symmetric_mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_pred - y_true) / ((np.abs(y_pred) + np.abs(y_true)) / 2))) * 100

def mean_bias_deviation(y_true, y_pred):
    return np.mean((y_pred - y_true) / y_true) * 100

def mean_directional_accuracy(y_true, y_pred):
    return np.mean(np.sign(np.diff(y_true)) == np.sign(np.diff(y_pred))) * 100

dt_r = RandomForestRegressor(random_state=0)
dt_r.fit(X_train, y_train)
y_pred = dt_r.predict(X_test)

# xgb_r = xgb.XGBRegressor(random_state=0)
# xgb_r.fit(X_train, y_train)
# y_pred = xgb_r.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mape = mean_absolute_percentage_error(y_test, y_pred)
smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)
mbd = mean_bias_deviation(y_test, y_pred)
mda = mean_directional_accuracy(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("MAPE:", mape)
print("sMAPE:", smape)
print("MBD:", mbd)
print("MDA:", mda)
print("R2:", r2)

MAE: 0.007969246543757857
MSE: 0.001917522657658256
RMSE: 0.04378952680331515
MAPE: inf
sMAPE: 8.821168614839351
MBD: inf
MDA: 98.37146980004124
R2: 0.9957740950663337

In [30]:
output_directory = "C:\\Users\\Hassa\\OneDrive\\Desktop\\PRODUCT_SCOUT\\Back-End"

with open(os.path.join(output_directory, 'model.pkl'), 'wb') as f:
    pickle.dump(dt_r, f)

with open(os.path.join(output_directory, 'cat_encoder.pkl'), 'wb') as f:
    pickle.dump(le_category, f)

with open(os.path.join(output_directory, 'sub_cat_encoder.pkl'), 'wb') as f:
    pickle.dump(le_sub_category, f)

with open(os.path.join(output_directory, 'subsub_cat_encoder.pkl'), 'wb') as f:
    pickle.dump(le_sub_sub_category, f)