In [21]:
import pandas as pd
import numpy as np
import requests
from tqdm import tqdm
import pymongo
from pymongo import MongoClient

In [22]:
string = "mongodb://hassan:1234@ac-n2z0fl0-shard-00-00.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-01.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-02.gwmrp9a.mongodb.net:27017/test?replicaSet=atlas-11gdpx-shard-0&ssl=true&authSource=admin"
client = MongoClient(string)
db = client.popularities
keywords = db.keywords
df = pd.DataFrame(list(keywords.find()))
df = df.drop('_id', axis=1)

In [23]:
df

                                     Categoric Mapping      Keywords
0               Health & Beauty Makeup Makeup Removers        makeup
1              Kitchen & Dining Serveware Food Warmers  food warmers
2    Stationery & Craft Art Supplies Modelling & Sc...    stationery
3                      Mother & Baby Baby Gear Walkers       walkers
4    Toys & Games Sports & Outdoor Play Swimming Po...          toys
..                                                 ...           ...
630  Sports & Outdoors Water Sports Diving & Snorke...  water sports
631      Sports & Outdoors Outdoor Recreation Climbing      outdoor
632      Health & Beauty Bath & Body Sun Care for Body     body care
633                          Groceries Beverages Water     groceries
634  Stationery & Craft School & Office Equipment B...    stationery

[635 rows x 2 columns]

In [24]:
url = 'http://localhost:3000/trends'
date1 = "Apr 1, 2023"
df["Popularity"] = np.nan

In [25]:
df

,Categoric Mapping,Keywords,Popularity
0,Health & Beauty Makeup Makeup Removers,makeup,NaN
1,Kitchen & Dining Serveware Food Warmers,food warmers,NaN
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,NaN
3,Mother & Baby Baby Gear Walkers,walkers,NaN
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,NaN
...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,NaN
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,NaN
632,Health & Beauty Bath & Body Sun Care for Body,body care,NaN
633,Groceries Beverages Water,groceries,NaN
634,Stationery & Craft School & Office Equipment B...,stationery,NaN

In [26]:
for j in tqdm(range(len(df))):
    myobj = {'trendfor': df["Keywords"][j]}
    obj = requests.post(url, json=myobj)
    obj = obj.json()
    #print(obj) # Add this line to check the contents of the obj dictionary
    for i in range(len(obj.get('trends', {}).get('default', {}).get('timelineData', []))):
        if (obj['trends']['default']['timelineData'][i]['formattedAxisTime'] == date1):
            popularity_1 = obj['trends']['default']['timelineData'][i]['value'][0]
            df.at[j, "Popularity"] = popularity_1

100%|████████████████████████████████████████████████████████████████████████████████| 635/635 [09:31<00:00,  1.11it/s]

In [27]:
df

,Categoric Mapping,Keywords,Popularity
0,Health & Beauty Makeup Makeup Removers,makeup,27.0
1,Kitchen & Dining Serveware Food Warmers,food warmers,NaN
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,14.0
3,Mother & Baby Baby Gear Walkers,walkers,0.0
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,35.0
...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,0.0
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,15.0
632,Health & Beauty Bath & Body Sun Care for Body,body care,3.0
633,Groceries Beverages Water,groceries,0.0
634,Stationery & Craft School & Office Equipment B...,stationery,14.0

In [28]:
df['Popularity'] = df['Popularity'].fillna(0)
df['Date'] = pd.Series(pd.to_datetime('April 2023'), index=df.index)

In [29]:
df

,Categoric Mapping,Keywords,Popularity,Date
0,Health & Beauty Makeup Makeup Removers,makeup,27.0,2023-04-01
1,Kitchen & Dining Serveware Food Warmers,food warmers,0.0,2023-04-01
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,14.0,2023-04-01
3,Mother & Baby Baby Gear Walkers,walkers,0.0,2023-04-01
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,35.0,2023-04-01
...,...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,0.0,2023-04-01
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,15.0,2023-04-01
632,Health & Beauty Bath & Body Sun Care for Body,body care,3.0,2023-04-01
633,Groceries Beverages Water,groceries,0.0,2023-04-01
634,Stationery & Craft School & Office Equipment B...,stationery,14.0,2023-04-01

In [33]:
records = df.to_dict('records')

# Insert records into MongoDB collection
collection = db.pop_values
collection.insert_many(records)